.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.inputs {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.note-box {
  width: 35%;
  height: 100px;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  padding: 5px;
}

.note-container {
  width: 100%;
}

.note-obj {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 10px;
}

.infoContainer {
  display: flex;
  flex-direction: row;
}

.largeContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
}
